<div id="main" dojoType="dijit.layout.BorderContainer">
  <div id="menu" dojoType="dijit.layout.AccordionContainer" region="leading">

    <div dojoType="dijit.layout.AccordionPane" title="Search" class="menuContent" selected="true">
      <% form_remote_tag :url => { :controller => 'contact', :action => :find_contact }, :method => 'get',
           :complete => "$('spinner').style.visibility = 'hidden';",
           :loading => "$('spinner').style.visibility = 'visible';" do %>
        <table>
          <tr>
            <td>Last Name:</td>
            <td><%= text_field_tag :last_name, params[:last_name], :size => 10 %></td>
            <td><%= submit_tag "Search" %></td>
          </tr>
        </table>
      <% end -%>
      <ul>
        <div id="contactSearchResults"></div>
      </ul>
    </div>

    <div dojoType="dijit.layout.AccordionPane" title="Contacts" class="menuContent">
      <ul>
        <div id="contactList">
          <%= render :partial => 'contact_list', :collection => @contact_list %>
        </div>
      </ul>
      <% form_remote_tag :url => { :controller => 'contact', :action => :edit_contact }, :method => 'get' do -%>
        <%= submit_tag "Add Contact" %>
      <% end -%>
    </div>

    <div dojoType="dijit.layout.AccordionPane" title="Addresses" class="menuContent">
      <ul>
        <div id="addressList">
          <%= render :partial => 'address_list', :collection => @address_list %>
        </div>
      </ul>
    </div>

    <div dojoType="dijit.layout.AccordionPane" title="Groups" class="menuContent">
      <ul>
        <div id="groupList">
          <%= render :partial => 'group_list', :collection => @group_list %>
        </div>
      </ul>
      <% form_remote_tag :url => { :controller => 'group', :action => :edit_group }, :method => 'get' do %>
        <%= submit_tag "Add Group" %>
      <% end %>
    </div>

  </div>

  <div dojoType="dijit.layout.ContentPane" region="center">
    <div id="content">
      <p>Welcome to your Address Book</p>
    </div>
  </div>

</div>
