<div id="main" dojoType="dijit.layout.BorderContainer">
  <div id="menu" dojoType="dijit.layout.AccordionContainer" region="leading">
    <div dojoType="dijit.layout.AccordionPane" title="Search" class="menuContent" selected="true">
      <%= form_tag(find_contacts_path, { :method => :get, :remote => true, :class => 'ajax_request' }) do %>
        <table>
          <tr>
            <td>Last Name:</td>
            <td><%= text_field_tag :last_name, params[:last_name], :size => 10 %></td>
            <td><%= submit_tag 'Search' %></td>
          </tr>
        </table>
      <% end %>
      <div id="contactSearchResults"></div>
      <p><%= link_to 'Switch to mobile view', use_mobile_view_path if is_mobile_device? %></p>
    </div>

    <div dojoType="dijit.layout.AccordionPane" title="Contacts" class="menuContent">
      <div id="contactList">
        <%= render :partial => 'contact_list', :locals => {:object_list => @contact_list} %>
      </div>
      <%= form_tag(new_contact_path, { :method => :get, :remote => true, :class => 'ajax_request' }) do %>
        <%= submit_tag 'Add Contact' %>
      <% end %>
    </div>

    <div dojoType="dijit.layout.AccordionPane" title="Addresses" class="menuContent">
      <div id="addressList">
        <%= render :partial => 'address_list', :locals => {:object_list => @address_list} %>
      </div>
    </div>

    <div dojoType="dijit.layout.AccordionPane" title="Groups" class="menuContent">
      <div id="groupList">
        <%= render :partial => 'group_list', :locals => {:object_list => @group_list} %>
      </div>
      <%= form_tag(new_group_path, { :method => :get, :remote => true, :class => 'ajax_request' }) do %>
        <%= submit_tag 'Add Group' %>
      <% end %>
    </div>

    <div dojoType="dijit.layout.AccordionPane" title="Settings" class="menuContent">
      <ul>
        <div id="settings">
          <li>
            <%= link_to('Home Address', settings_edit_address_path,
                  :method => :get, :remote => true, :class => 'ajax_request', :id => 'edit_home_address') %>
          </li>
          <li>
            <%= link_to('Login Credentials', settings_edit_login_credentials_path,
                  :method => :get, :remote => true, :class => 'ajax_request', :id => 'edit_login_credentials') %>
          </li>
        </div>
      </ul>
    </div>
  </div>

  <div dojoType="dijit.layout.ContentPane" region="center">
    <div id="content">
      <p>Welcome to your Address Book</p>
    </div>
  </div>

</div>
