<%= error_messages_for :address %>
<%= form_tag({ :action => :edit_address, :id => address }, { :remote => true, :class => 'ajax_request' }) do %>
  <h3>Address Type</h3>
  <div class="section">
    <table>
      <tr>
        <td><label>Address Type:</label></td>
        <td>
          <%= 
            select(:address, :address_type_id, 
              AddressType.valid_address_types_for_address(@address).collect {|t| [ t.description, t.id ]}, {}, 
              :id => "addressType", :onchange => "adjustSelectableContacts();") 
          %>
        </td>
      </tr>
    </table>
  </div>

  <h3>Home Phone</h3>
  <div class="section">
    <table>
      <tr>
        <td><label>Home Phone:</label></td>
        <td><%= text_field_tag 'address[home_phone]', Phone.format(@address.home_phone), :size => 20 %></td>
      </tr>
    </table>
  </div>
    
  <h3>Address</h3>
  <div class="section">
    <%= render :partial => 'shared/address_fields' %>
  </div>

  <% if !address.id.blank? && !address.contacts.blank? %>
    <h3>Address Contacts</h3>
    <div class="section">
      <table class="addressContacts">
        <tr>
          <th>Primary</th>
          <th class="secondary_contact_header" style="<%= secondary_contact_style %>">Secondary</th>
          <th>Name</th>
        </tr>
        <% address.contacts.each do |contact| %>
          <tr>
            <td><%= radio_button_tag 'address[contact1_id]', contact.id, address.contact1_id == contact.id %></td>
            <td class="secondary_contact_column" style="<%= secondary_contact_style %>"><%= radio_button_tag 'address[contact2_id]', contact.id, address.contact2_id == contact.id %></td>
            <td>
              <%= link_to(contact.full_name_last_first, url_for(:controller => :contact, :action => :edit_contact, :id => contact),
                  :remote => true, :method => :get) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
    
  <br />
  <%= submit_tag "Save" %>
<% end %>

<%= create_cancel_delete_links(address) %>
