<br />
<div id="linkToAddressList">
  <% if @search_results.empty? -%>
    No Search Results Found
  <% elsif -%>
    <table>
      <tr>
        <th id="linkToAddressAddressee">Addressee</th>
        <th id="linkToAddressAddress">Address</th>
        <th id="linkToAddressCity">City</th>
        <th>State</th>
      </tr>
      <% @search_results.each do |a| -%>
        <tr>
          <td><%= h(a.addressee) %></td>
          <td><%= h(a.address1) %> <%= h(a.address2) %></td>
          <td><%= h(a.city) %></td>
          <td><%= h(a.state) %></td>
          <td>&nbsp;</td>
          <td>
              <%= 
                link_to_remote "Link", 
                  :url => { 
                    :controller => 'contact', 
                    :action => :add_address_to_contact, 
                    :id => @contact, 
                    :address_id => a.id } 
              %>
          </td>
        </tr>
      <% end -%>
    </table>
  <% end -%>
</div>
