<% if flash.now[:notice] %>
  <div class="errorExplanation" id="errorExplanation"><h2>1 error prohibited these credentials from being saved</h2><p><%= flash.now[:notice] %></p></div>
<% end %>

<h3>Login Credentials</h3>
<p>
  If a username and password are specified, then they will be used to authenticate the user using HTTP Basic
  Authentication when the addressbook is accessed.
</p>

<% if @demo %>
  <p><strong>This feature is not available in the demo.</strong></p>
<% else %>
  <%= form_tag(settings_update_login_credentials_path, { :method => :put, :remote => true, :class => 'ajax_request' }) do %>
    <div class="section">
      <table>
        <tr>
          <td><label>Username:</label></td>
          <td><%= text_field_tag 'username', @username, :size => 20 %></td>
        </tr>
        <% if @password %>
          <tr>
            <td><label>Current password:</label></td>
            <td><%= password_field_tag 'current_password', @current_password, :size => 20 %></td>
          </tr>
        <% end %>
        <tr>
          <td><label>New password:</label></td>
          <td><%= password_field_tag 'password', @password, :size => 20 %></td>
        </tr>
        <tr>
          <td><label>Password confirmation:</label></td>
          <td><%= password_field_tag 'password_confirmation', @password_confirmation, :size => 20 %></td>
        </tr>
      </table>
    </div>

    <p><%= submit_tag 'Save' %></p>
  <% end %>

  <p>
    <%= link_to('Cancel', settings_edit_login_credentials_path, :method => :get, :remote => true, :class => 'ajax_request') %>
  </p>
<% end %>
