<% if flash.now[:notice] %>
  <div class="errorExplanation" id="errorExplanation"><h2>1 error prohibited these credentials from being saved</h2><p><%= flash.now[:notice] %></p></div>
<% end %>

<%= form_tag({ :action => :login_credentials }, { :remote => true, :class => 'ajax_request' }) do %>
  <h3>Login Credentials</h3>
  <p>
    If a username and password are specified, then they will be used to authenticate the user using HTTP Basic
    Authentication when the addressbook is accessed.
  </p>
  <div class="section">
    <table>
      <tr>
        <td><label>Username:</label></td>
        <td><%= text_field_tag 'username', @username, :size => 20 %></td>
      </tr>
      <% if @password %>
        <tr>
          <td><label>Current password:</label></td>
          <td><%= password_field_tag 'current_password', @current_password, :size => 20 %></td>
        </tr>
      <% end %>
      <tr>
        <td><label>New password:</label></td>
        <td><%= password_field_tag 'password', @password, :size => 20 %></td>
      </tr>
      <tr>
        <td><label>Password confirmation:</label></td>
        <td><%= password_field_tag 'password_confirmation', @password_confirmation, :size => 20 %></td>
      </tr>
    </table>
  </div>

  <p><%= submit_tag 'Save' %></p>  
<% end %>

<p>
  <%= link_to('Cancel', url_for(:action => :login_credentials), :method => :get, :remote => true, :class => 'ajax_request') %>
</p>
