<%= error_messages_for :contact %>
<% address = @contact.try(:address) %>
<%= form_tag(@contact, { :method => put_or_post(@contact), :remote => true, :class => 'ajax_request' }) do %>

  <h3>Personal Info</h3>
  <div class="section">
    <table>
      <tr>
        <td><label>Prefix:</label></td>
        <td><%= text_field :contact, :prefix, :size => 5, :id => 'top' %></td>
      </tr>
        <tr>
        <td><label>First Name:</label></td>
        <td><%= text_field :contact, :first_name, :size => 20 %></td>
      </tr>
      <tr>
        <td><label>Middle Name:</label></td>
        <td><%= text_field :contact, :middle_name, :size => 20 %></td>
      </tr>
      <tr>
        <td><label>Last Name:</label></td>
        <td><%= text_field :contact, :last_name, :size => 20 %></td>
      </tr>
      <tr>
        <td><label>Birthdate:</label></td>
        <td><%= text_field :contact, :birthday, :size => 15 %></td>
      </tr>
    </table>
  </div>

  <h3>Contact Info</h3>
  <div class="section">
    <table>
      <tr>
        <td><label>Home Phone:</label></td>
        <td><%= text_field_tag 'address[home_phone]', Phone.format(address.try(:home_phone)), :size => 20 %></td>
        </td>
      </tr>
      <tr>
        <td><label>Work Phone:</label></td>
        <td><%= text_field_tag 'contact[work_phone]', Phone.format(@contact.work_phone), :size => 20 %></td>
      </tr>
      <tr>
        <td><label>Cell Phone:</label></td>
        <td><%= text_field_tag 'contact[cell_phone]', Phone.format(@contact.cell_phone), :size => 20 %></td>
      </tr>
      <tr>
        <td><label>Email Address:</label></td>
        <td><%= text_field :contact, :email, :size => 30 %></td>
      </tr>
      <tr>
        <td><label>Web Page:</label></td>
        <td><%= text_field :contact, :website, :size => 45 %></td>
      </tr>
    </table>
  </div>

  <h3>Address</h3>
  <div class="section">
    <% if @contact.has_address? %>
      <p id="address" style="<%= display_style_for_address(address) %>">
        <%= address.address1 %><br />
        <% unless address.address2.blank? %>
          <%= address.address2 %><br />
        <% end %>
        <%= address.city + ', ' + address.state + ' ' + address.zip %>
      </p>
    <% end %>

    <div id="specifyAddress" style="<%= display_style_for_specify_address(address) %>">
      <% if Address.all.size > 0 %>
        <p>
          <%= radio_button_tag(:address_specification_type, :existing_address, false, :id => 'existing_address') %>
          <%= label_tag :existing_address, 'Associate contact with an existing address' %>
        </p>
        <p class="addressOption">
          <%= select_tag :other_id, options_from_collection_for_select(
                Contact.with_address.order('last_name, first_name'), 'id', 'full_name_last_first') %>
        </p>
      <% end %>

      <p>
        <%= radio_button_tag(:address_specification_type, :specified_address,
              (!address.try(:is_empty?) || (!address.try(:is_empty?) && !address.try(:valid?))), :id => 'specified_address') %>
        <%= label_tag :specified_address, 'Associate contact the specified address' %>
        <div class="addressOption">
          <%= render :partial => 'shared/address_fields' %>
        </div>
      </p>
    </div>

    <% if @contact.has_address? %>
      <p>
        <%= link_to('Edit Address', '#', :class => 'edit_address_link') %> |
        <%= link_to('Address Details', address, :method => :get, :remote => true, :class => 'ajax_request') %> |
        <%= link_to('Delete Address', remove_address_contact_path(@contact),
                    :method => :post, :remote => true, :class => 'ajax_request', :data => { :confirm => "Are you sure you would like to delete the address for #{@contact.first_name} #{@contact.last_name}?" }) %> |
        <%= add_map_and_directions_links(@contact) %> <br />
      </p>
    <% end %>
  </div>

  <br />
  <div class="buttons">
    <%= submit_tag "Save", :class => "positive" %>
  </div>
<% end %>

<%= create_cancel_delete_links(@contact) %>

<%= render :partial => 'multiple_address_confirmation_form' unless address.nil? %>

<script>
$(document).ready(function() {
  $('#other_id').click(function() { selectExistingAddressOption(); });

  $('#address_home_phone').keydown(function() { selectSpecifiedAddressOption(); });
  $('#address_address1').keydown(function() { selectSpecifiedAddressOption(); });
  $('#address_address2').keydown(function() { selectSpecifiedAddressOption(); });
  $('#address_city').keydown(function() { selectSpecifiedAddressOption(); });
  $('#address_state').keydown(function() { selectSpecifiedAddressOption(); });
  $('#address_zip').keydown(function() { selectSpecifiedAddressOption(); });
});
</script>
