<%= error_messages_for 'group' %>
<% form_remote_tag :url => { :action => :edit_group, :id => group } do -%>

  <h3>Group Info</h3>
  <div class="section">
    <table>
      <tr>
        <td><label>Name:</label></td>
        <td><%= text_field 'group', 'name', 'size' => 20 %></td>
      </tr>
    </table>
  </div>

  <% unless @group.id.nil? -%>
    <h3>Group Members</h3>
    <div class="section">
      <div id="displayGroupMembers">
        <ul>
          <div id="groupMembers">
            <%=
              @group.addresses.sort! { |x,y| x.compare_by_primary_contact(y) }
              render :partial => 'group_list', :collection => @group.addresses,
                :locals => { :draggable => false }
            %>
          </div>
        </ul>

        <%= link_to_function "Maintain Group Members", "Element.hide('displayGroupMembers'); Element.show('editGroupMembers');" %>
      </div>

      <div id="editGroupMembers" style="display:none;">
        <%= render :partial => 'maintain_group_members' %>
      </div>
    </div>

    <h3>Labels</h3>
    <div class="section">

      <label>Label Type:</label>
      <%=
        select_tag "label_type",
          get_label_options(@label_types),
          { :id => 'labelTypeSelector',
            :onchange => "updateCreateLabelsLink('#{url_for :action => :create_labels, :id => @group }');" }
      %>

      <span id="createLabelsLink">
        <%=
          link_to "Create Labels",
              { :action => :create_labels, :id => @group, :label_type => @label_types.first },
              :popup => ['label_window']
        %>
      </span>
    </div>
  <% end -%>
  
  <br />
  <%= submit_tag "Save", :onclick => "selectAllIncludedGroupMembers();" %>
<% end -%>

<%= create_cancel_delete_links(group) %>
