<div align="center">
  <table id="maintainGroupTable">
    <tr>
      <th>Not Included</th>
      <th>&nbsp;</th>
      <th>Included</th>
    </tr>

    <tr>

      <td id="notIncludedListCell" class="groupListAddresses">
        <ul>
          <div id="notIncludedList">
            <%=
              @not_included.sort! { |x,y| x.compare_by_primary_contact(y) }
              select_tag('not_included',
                options_from_collection_for_select(@not_included, 'id', 'addressee_for_display'),
                :multiple => true, :class => 'selectGroupAddresses', :onDblclick => "includeSelectedMembers();" )
            %>
          </div>
        </ul>
      </td>

      <td id="maintainGroupControls">
        <%= link_to_function "<<", 'excludeAllMembers()' %><br/>
        <%= link_to_function "<", 'excludeSelectedMembers()' %><br/>
        <br/>
        <%= link_to_function ">", 'includeSelectedMembers()' %><br/>
        <%= link_to_function ">>", 'includeAllMembers()' %><br/>
      </td>

      <td id="includedListCell" class="groupListAddresses">
        <ul>
          <div id="includedList">
            <%=
              @included.sort! { |x,y| x.compare_by_primary_contact(y) }
              select_tag('included',
                options_from_collection_for_select(@included, 'id', 'addressee_for_display'),
                :multiple => true, :class => 'selectGroupAddresses', :onDblclick => "excludeSelectedMembers();")
            %>
          </div>
        </ul>
      </td>

    </tr>
  </table>
</div>
