<%= error_messages_for 'contact' %>
<% form_remote_tag :url => { :action => :edit_contact, :id => contact },
                   :complete => "hideSpinner();", :loading => "showSpinner();" do -%>

  <h3>Personal Info</h3>
  <div class="section">
    <table>
      <tr>
        <td><label>Prefix:</label></td>
        <td><%= text_field 'contact', 'prefix', 'size' => 5, 'id' => 'top' %></td>
      </tr>
        <tr>
        <td><label>First Name:</label></td>
        <td><%= text_field 'contact', 'first_name', 'size' => 20 %></td>
      </tr>
      <tr>
        <td><label>Middle Name:</label></td>
        <td><%= text_field 'contact', 'middle_name', 'size' => 20 %></td>
      </tr>
      <tr>
        <td><label>Last Name:</label></td>
        <td><%= text_field 'contact', 'last_name', 'size' => 20 %></td>
      </tr>
      <tr>
        <td><label>Birthdate:</label></td>
        <td><%= text_field 'contact', 'birthday', 'size' => 15 %></td>
      </tr>
    </table>
  </div>
  
  <h3>Contact Info</h3>
  <div class="section">
    <table>
      <tr>
        <td><label>Home Phone:</label></td>
        <td><%= text_field_tag 'address[home_phone]', Phone.format(@address.ergo.home_phone), 'size' => 20 %></td>
        </td>
      </tr>
      <tr>
        <td><label>Work Phone:</label></td>
        <td><%= text_field_tag 'contact[work_phone]', Phone.format(@contact.work_phone), 'size' => 20 %></td>
      </tr>
      <tr>
        <td><label>Cell Phone:</label></td>
        <td><%= text_field_tag 'contact[cell_phone]', Phone.format(@contact.cell_phone), 'size' => 20 %></td>
      </tr>
      <tr>
        <td><label>Email Address:</label></td>
        <td><%= text_field 'contact', 'email', 'size' => 30 %></td>
      </tr>
      <tr>
        <td><label>Web Page:</label></td>
        <td><%= text_field 'contact', 'website', 'size' => 45 %></td>
      </tr>
    </table>
  </div>

  <h3>Address</h3>
  <div class="section">
    <% if contact.has_address? -%>
      <p id="address" style="<%= display_style_for_address %>">
        <%= h(contact.address.address1) %><br />
        <%= h(contact.address.address2) + "<br />" unless contact.address.address2.blank? %>
        <%= h(contact.address.city) + ", " + h(contact.address.state) + " " + h(contact.address.zip) %>
      </p>
    <% end -%>

    <div id="specifyAddress" style="<%= display_style_for_specify_address %>">
      <% if Address.all.size > 0 -%>
        <p>
          <%= radio_button_tag('address_specification_type', 'existing_address', false, :id => 'existing_address') %>
          <%= label_tag 'existing_address', 'Associate contact with an existing address' %>
        </p>
        <p class="addressOption">
          <%= select_tag 'other_id', options_from_collection_for_select(
                Contact.with_address.all(:order => 'last_name, first_name'), 'id', 'full_name_last_first') %>
        </p>
      <% end -%>

      <p>
        <%= radio_button_tag('address_specification_type', 'specified_address',
              !@address.ergo.is_empty?, :id => 'specified_address') %>
        <%= label_tag 'specified_address', 'Associate contact the specified address' %>
        <div class="addressOption">
          <%= render :partial => 'shared/address_fields' %>
        </div>
      </p>
    </div>

    <% if contact.has_address? -%>
      <p>
        <%= link_to_function "Edit Address", "editAddress();" %> |
        <%= link_to_remote("Address Details",
              :url => { :controller => :address, :action => :edit_address, :id => contact.address },
              :method => 'get', :complete => "hideSpinner();", :loading => "showSpinner();") %> |
        <%= link_to_remote("Delete Address",
              :url => { :action => :remove_address_from_contact, :id => contact },
              :confirm => "Are you sure you would like to delete the address for #{contact.first_name} #{contact.last_name}?") %> |
        <%= add_map_and_directions_links(contact) %> <br />
      </p>
    <% end -%>
  </div>

  <br />
  <%= submit_tag "Save" %>
<% end -%>

<%= create_cancel_delete_links(contact) %>

<%= render :partial => "multiple_address_confirmation_form" unless @contact.address.nil? %>

<script>
jQuery(document).ready(function() {
  jQuery('#other_id').click(function() { selectExistingAddressOption(); });

  jQuery('#address_home_phone').keydown(function() { selectSpecifiedAddressOption(); });
  jQuery('#address_address1').keydown(function() { selectSpecifiedAddressOption(); });
  jQuery('#address_address2').keydown(function() { selectSpecifiedAddressOption(); });
  jQuery('#address_city').keydown(function() { selectSpecifiedAddressOption(); });
  jQuery('#address_state').keydown(function() { selectSpecifiedAddressOption(); });
  jQuery('#address_zip').keydown(function() { selectSpecifiedAddressOption(); });
});
</script>
