<a id="multipleAddressConfirmationLink" href="#multipleAddressConfirmation" style="display:none"></a>
<div style="display:none">
  <div id="multipleAddressConfirmation">
    <%= form_tag({ :action => :change_address_for_contact, :id => @contact }, { :remote => true, :id => 'multipleAddressConfirmationForm', :class => 'ajax_request' }) do -%>
      <p>
        The following contacts live at this address and have this phone number:
        <p>
          <% @contact.address.contacts.each do |contact| -%>
            <strong><%= contact.full_name_last_first %></strong><br/>
          <% end -%>
        </p>
      </p>

      <p>Would you like to change the address and phone number for all of them?</p>

      <p>
        <%= hidden_field_tag 'submit_id' %>
        <%= submit_tag "Yes, change for all", :onclick => 'changeAddressForAll();' %>
        <%= submit_tag "No, just change #{@contact.first_name}", :onclick => 'changeAddressForSpecified();' %>
        <br/>
      </p>

      <p><%= link_to_function 'Cancel', 'closeFancybox();' %></p>
    <% end -%>
  </div>
</div>

<script>
  jQuery(document).ready(function() {
    jQuery("a#multipleAddressConfirmationLink").fancybox({
      'width' : 400,
      'height' : 250,
      'autoDimensions' : false,
      'hideOnOverlayClick' : false,
      'enableEscapeButton' : true,
      'showCloseButton' : false
    });
  });
</script>
