<h2><%= @contact.prefix %> <%= @contact.first_name %> <%= @contact.last_name %></h2>

<h3>Contact Info</h3>
<div class="section">
  <table>
    <% if @contact.has_address? && @contact.address.home_phone -%>
      <tr>
        <td><label>Home Phone:</label></td>
        <td><%= phone_to(@contact.address.home_phone) %></td>
        </td>
      </tr>
    <% end -%>

    <% if @contact.work_phone -%>
      <tr>
        <td><label>Work Phone:</label></td>
        <td><%= phone_to(@contact.work_phone) %></td>
      </tr>
    <% end -%>

    <% if @contact.cell_phone -%>
      <tr>
        <td><label>Cell Phone:</label></td>
        <td><%= phone_to(@contact.cell_phone) %></td>
      </tr>
    <% end -%>

    <% if @contact.email -%>
      <tr>
        <td><label>Email Address:</label></td>
        <td><%= mail_to @contact.email %></td>
      </tr>
    <% end -%>

    <% if @contact.website -%>
      <tr>
        <td><label>Web Page:</label></td>
        <td><%= auto_link @contact.website %></td>
      </tr>
    <% end -%>
  </table>
</div>

<% if @contact.has_address? -%>
  <h3>Address</h3>
  <div class="section">
    <p id="address">
      <%= h(@contact.address.address1) %><br />
      <%= h(@contact.address.address2) + "<br />" unless @contact.address.address2.blank? %>
      <%= h(@contact.address.city) + ", " + h(@contact.address.state) + " " + h(@contact.address.zip) %>
    </p>
    <p><%= add_map_and_directions_links(@contact) %></p>
  </div>
<% end -%>

<p><%= link_to "Back", root_path %></p>
