<h2><%= @contact.prefix %> <%= @contact.first_name %> <%= @contact.last_name %></h2>

<% if has_contact_info_to_display?(@contact) %>
  <h3>Contact Info</h3>
  <div class="section">
    <table>
      <% if !@contact.address.ergo.home_phone.blank? %>
        <tr>
          <td><label>Home:</label></td>
          <td><%= phone_to(@contact.address.home_phone) %></td>
          </td>
        </tr>
      <% end %>

      <% unless @contact.work_phone.blank? %>
        <tr>
          <td><label>Work:</label></td>
          <td><%= phone_to(@contact.work_phone) %></td>
        </tr>
      <% end %>

      <% unless @contact.cell_phone.blank? %>
        <tr>
          <td><label>Cell:</label></td>
          <td><%= phone_to(@contact.cell_phone) %></td>
        </tr>
      <% end %>

      <% unless @contact.email.blank? %>
        <tr>
          <td><label>Email:</label></td>
          <td><%= mail_to @contact.email %></td>
        </tr>
      <% end %>

      <% unless @contact.website.blank? %>
        <tr>
          <td><label>Web:</label></td>
          <td><%= auto_link @contact.website %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<% if @contact.has_address? %>
  <h3>Address</h3>
  <div class="section">
    <p id="address">
      <%= @contact.address.address1 %><br />
      <%= @contact.address.address2 + '<br />' unless @contact.address.address2.blank? %>
      <%= @contact.address.city + ', ' + @contact.address.state + ' ' + @contact.address.zip %>
    </p>
    <p id="mapLinks"><%= add_map_and_directions_links(@contact) %></p>
  </div>
<% end %>

<div id="navLinks">
  <p><%= link_to 'Back', root_path %></p>  
</div>
